body {
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}


/*************    Menu principal    ***************/

#menu-principal {
    width: 100vw;    
    background-color: #BEE4FA;
    height: 200px;
}

#menu-principal nav {
    display: inline-block;
}

#logo {
    margin-left: 50px;
    float: left;
    padding-right: 200px;
}

#logo img {
    opacity: 70%;
    margin-top: 50px;
    width: 200px;
    height: 100px;
    display: block;
}

.menu{
    margin: 20px 0;
}

.menu ul li {
    margin-top: 50px ;
    display: inline-block;
    list-style: none;
}

.menu ul li a:hover {
    height: 70px;
    color: #40667C;
}

.menu ul li a {
    color: #F46569;
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
    font: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    text-transform: uppercase;
}

#redes-sociais {
    position: fixed;
    padding-left: 30px;
}

#redes-sociais ul li {
    list-style: none;
}

#redes-sociais img {
    margin-bottom: 30px;
    width: 24px;
}

.button-home{
    border: 2px solid #F46569;
    background-color: transparent;
    cursor: pointer!important;
    height: 40px;
    width: 128px;
    margin-top: 30px;
    font-size: 15px;
    text-transform: uppercase;
    color: #F46569;
    position: relative;
    margin-left: 150px;
}

.button-home:hover {
    border: 2px solid #40667C;
    color: #40667C;
}

.container-home {
    margin: 50px 0px 0px 10px;
    padding-left: 150px;
}

.home-2 {
    color: rgb(244,101,105);
    width: 198px;
    float: left;
}

.home-2 h4 {
    margin: 0;
    font: normal normal normal 50px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
}

.home-2 p {
    position: relative;
    font: normal normal normal 15px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
}
/*************    Menu inicial  ***************/
.navegacao {
    color: rgb(244,101,105);
}


#menu-inicial {
    width: 100vw;    
    background-color: rgb(190,228,250);
    position: relative;
    height: 730px;
    
}

.font-home {
    text-transform: uppercase;
    margin: 0;
    padding-left: 150px;
    color: #F46569;
    font-size: 70px;
    line-height: normal;
    letter-spacing: normal;
    font: normal normal normal 70px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
}

/*************    Menu de serviços   ***************/

#menu-servicos {
    padding: 40px;
    background: #F46569;
    color: #FDFFED;
    width: 100vw;
    height: 800px;
}


.container ul li{
    width: 30%;
    list-style: none;
    float: left;
    margin: 100px 50px 10px 100px;
    margin-right: 60px;
    min-height: 130px;
}


.title h1 {
    width: 100vh;
    margin: 0;
    padding-left: 150px;
    position: fixed;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    font-size: 40px;
}


.list-service a {
    width: 100vh;
    font: avenir-lt-w01_85-heavy1475544,sans-serif; letter-spacing:0.05em;
    text-decoration: none;
    color: #FDFFED;
    text-transform: uppercase; 
}

/*************    Menu de serviços   ***************/

#menu-about {
    padding: 40px;
    background: #FFE6E6;
    color: #FDFFED;
    width: 100vw;
    height: 650px;
}

.text-about {
    padding: 40px 100px ;
    color: #40667C;
    width: 50%;
    text-align: justify;
    font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
}

.imagem-about {
    transform: rotate(90deg);
    top: 0;
    left: 500px;
    object-position: 50% 50%;
    position: relative;
    width: 600px;
    height: 220px;
    overflow: hidden;
}

.button-about {
    border: 2px solid #404040;
    background-color: transparent;
    cursor: pointer!important;
    height: 40px;
    width: 218px;
    margin-top: 30px;
    font-size: 15px;
    text-transform: uppercase;
    color: #404040;
    position: relative;
}

.button-about:hover {
    border: 2px solid #28208D;
    color: rgb(73, 63, 216);
}
/*************    Menu de serviços   ***************/

#menu-clientes {
    margin: 0;
    background: #8FD0CC;
    color: #FDFFED;
    width: 100vw;
    height: 850px;
}

.menu-clientes {
    padding-left: 100px;
}

/*************  Menu da galeria   ***************/
#menu-galeria {
    background-color: #F2A7A7;
    margin: 0;
    width: 100vw;
    height: 700px;
}

.imagem-1 {
    margin: 0;
    padding: 0px 5px 20px ;
    padding-left: 10px;
}

.imagem-1 {
    margin: 0;
    padding: 0px 5px 20px 0;
}

/*************  Menu de contato    ***************/

#menu-contato {
    padding: 40px;
    margin: 0;
    background: rgb(64,102,124);
    color: #FDFFED;
    width: 100vw;
    height: 600px;
}

#menu-contato h1 {
    width: 700px;
    min-width: 82px;
    position: relative;
    padding-left: 150px;
    color: rgb(255,230,230);
}

.contato {
    width: 100px;
    position: relative;
    padding: 60px 0 0 100px;
    min-width: 55px;
    font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,sans-serif;

}
.endereco {
    width: 100px;
    position: relative;
    padding: 60px 0 0 100px;
    min-width: 55px;
    font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,sans-serif;

}

#container-contato {
    overflow: hidden;
    padding: 20px;
}

.container-contato p{
    width: 30%;
    list-style: none;
    float: left;
    margin: 100px 50PX;
    margin-right: 60px;
    min-height: 130px;
    background-color: #97193E;
}
